/* .testimonials {
  padding: 80px 0;
  text-align: center;

  h2 {
    font-size: 32px;
    color: #8a4baf;
    margin-bottom: 30px;
  }

  .testmonials-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    .testimonial-card {
      background-color: white;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      border-radius: 10px;
      width: 300px;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: 768px) {
        width: 80%;
        text-align: center;
      }

      .student-image {
        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          object-fit: cover;
          margin-bottom: 10px;
        }
      }

      .message {
        font-size: 16px;
        color: #333;
        margin-bottom: 10px;
      }

      .info {
        text-align: center;
      }

      .name {
        font-size: 18px;
        font-weight: bold;
        color: #8a4baf;
        margin-bottom: 5px;
      }

      .position {
        font-size: 14px;
        color: #666;
      }
    }
  }
} */
.testimonials {
  background: linear-gradient(to right,#f2f2f9 , #e9f5f5);
  text-align: center;
  padding: 20px;
}

.testimonial-card {
  max-width: 600px;
  margin: auto;
  padding: 25px;
  border-radius: 13px;
  box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 1s ease-in-out;
}

.student-image img {
  width: 100px;
  height: 100px;
  border-radius: 70%;

  max-width: 100%;  /* Ensures the image never overflows its container */
    /* Maintains aspect ratio */
   /* Removes extra space under the image */
  object-fit: cover;  /* Ensures the image fills the container without stretching */
  background-size: cover;
  
}

.message {
  font-size: 1.1rem;
  margin: 10px 0;
}

.info .name {
  font-weight: bold;
}

.info .position {
  color: gray;
}
